<launch>

    <arg name="use_map" default="true"/>
    <arg name="use_rviz" default="true"/>
    <arg name="map_name" default="$(find map_builder)/map/dy_grasp.yaml"/>
    <group if="$(arg use_map)">
        <!-- 加载环境地图 -->
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_name)"/>
    </group>

    <!-- 运行虚拟定位，兼容AMCL输出. 对于虚拟定位，需要设置一个/odom与/map之间的静态坐标变换 -->
    <node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen" />
    <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /odom /map 100" />

    <!-- 启动导航 move_base-->  
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	    <rosparam file="$(find agv_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find agv_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find agv_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find agv_navigation)/config/global_costmap_params.yaml" command="load" />
  	    <rosparam file="$(find agv_navigation)/config/teb_local_planner_params.yaml" command="load" />
	    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="20.0" />  
        <param name="planner_frequency" value="0.0" /> 
        <param name="recovery_behavior_enabled" value="false" />
    </node>

    <!-- 启动rviz-->  
    <group if="$(arg use_rviz)">
        <node name="rviz_nav" pkg="rviz" type="rviz" args="-d $(find agv_navigation)/rviz/nav.rviz"/>
    </group>

</launch>
